input[type="search"], input[type="text"], input[type="password"], .button{
    outline: none;
    -webkit-appearance: none;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}

form{
    padding-top: 10px;
}

.cityInput{
    border: #e2e2e2 solid 1px;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 7px;
    margin-right: 15px;
    color: #333333;
    font-family: Ubuntu;
    font-size: 14px;
    background-color: ghostwhite;
}

.button{
    margin: 0;
    padding: 6px 15px 8px 15px;
    border: ghostwhite solid 1px;
    font-size: 14px;
    border-radius: 15px;
    background-color: ghostwhite;
    color: #858585;
    transition: all 0.3s;
    cursor: pointer;
    font-family: Ubuntu;
}

.button:hover{
    color: azure;
    background-color: #6797eb;
    border: #6797eb solid 1px;
}

.popUp p{
    font-family: Ubuntu;
    font-size: 14px;
    text-align: center;
}

.popUp{
    width: 250px;
    background-color: rgb(235, 197, 0);
    padding: 30px 35px 40px 35px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    position: relative;
    /*top: -200px;*/
}

.contPopUp{
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(90, 160, 160, 0.7);
    position: fixed;
}

.name-container{

}

.nameTown{
    font-family: Ubuntu;
    font-size: 27px;
}

.fa-male {
    font-size: 4em;
    margin-right: 10px;
    cursor: pointer;
}

.peoples-container{
    padding: 20px 10px ;
}

.city-container{
    padding: 20px 100px ;
}

.cityPopulation{
    display: inline-block;
    margin: 35px 20px 0 0;
    background-color: cornflowerblue;
    width: 129px;
    text-align: center;
    border-radius: 3px;
}

.cityPopulation:nth-child(4){
    display: inline-block;
    margin: 35px 20px 0 0;
    background-color: #e14300;
    width: 129px;
    text-align: center;
    border-radius: 3px;
}

.cityPopulationA{
    display: inline-block;
    font-size: 16px;
    padding: 10px 20%;
    color: azure;
    letter-spacing: 2px;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Ubuntu;
}

.full{
    opacity: 1;
    transition: opacity 0.2s;
}

.displayBlockPopup{
    display: block;
}

