
.arrow{
    padding: 0;
}

.arrow li{
    display: inline-block;
    list-style-type: none;
    font-size: 0;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: #34a5a2;
    transition: background-color 0.3s;
    border-radius: 15px;
    cursor: pointer;
    vertical-align: middle;
}
.arrow > .next, .arrow > .prev{
    display: inline-block;
    list-style-type: none;
    min-width: 100px;
    font-size: 0;
    padding: 3px 0;
    margin-right: 15px;
    background-color: #33a56f;
    border-radius: 3px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.arrow > .next:hover, .arrow > .prev:hover{
    background-color: #00933b;
}

.arrow li p{
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
    font-family: Ubuntu;
    text-align: center;
    color: blanchedalmond;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.arrow li:hover{
    background-color: #0097b4;
}